/* MessagesComponent's private CSS styles */
h2 {
    color: var(--custom-red);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  
  .clear {
    color: var(--custom-black);
    background-color: var(--custom-white);
    margin-bottom: 12px;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  .clear:hover {
    color: white;
    background-color: var(--custom-red);
  }